[submodule "forks/pi-langfuse"]
	path = forks/pi-langfuse
	url = https://github.com/stvhay/pi-langfuse.git
	branch = fix/pi-session-correlation
[submodule "forks/pi-archimedes"]
	path = forks/pi-archimedes
	url = https://github.com/stvhay/pi-archimedes.git
	branch = fix/pi-session-correlation
