[submodule "forks/pi-langfuse"]
	path = forks/pi-langfuse
	url = https://github.com/stvhay/pi-langfuse.git
	branch = vendor/pi-setup
[submodule "forks/pi-archimedes"]
	path = forks/pi-archimedes
	url = https://github.com/stvhay/pi-archimedes.git
	branch = vendor/pi-setup
